/* FUENETES IMPORTADAS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

/* FIN FUENTES IMPORTADAS */

/* ESTYLE GENERALES */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* FIN STYLE GENERAL */

/* STYLE BODY */
body{
    background-color: #1e1d1f;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-content: center;
}

.squares li {
    width: 40px;
    height: 40px;
    background-color: rgba(34, 33, 36, 0.219);
    display: block;
    position: fixed;
    bottom: -40px;
    animation: up infinite;
    animation-direction: alternate;
    border: 1px #b19aff solid;
    border-radius: 3px;
}

  @keyframes up {
      from { 
          opacity: 0;
      transform: translateY(0);
    }
    50% {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translateY(-1000px) rotate(960deg);
    }
}


/* FIN STYLE BODY */

/* INICIO NAVBAR */

header{
  background-color: #1e1e1e;
  background-size: contain;
  background-position: left bottom;
  padding-bottom: 80px;
}

.nv
{
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;
}

.nva
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.nav_ul
{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

.nav_ul li a
{
  display: inline-block;
  color: #fff;
  font-family: "Poppins" sans-serif;
  padding: 10px 20px;
  text-decoration: none;
}

.hamburger
{
  background-color: transparent;
  border: 0;
  color: #fff;
  display: none;
  cursor: pointer;
  font-size: 20px;
}

.hamburger:focus
{
  outline: none;
}

/* FIN NAVBAR */
/* Inicio Main Accordion */

.wp
{
  margin: 0;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100vw;
  display: grid;
  justify-content: center;
  align-content: center;
}


.wrapper
{
  background: #1B2631 ;   
  border-radius: 30px;
  height: 509px;
  width: 920px;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-gap: 6rem;
}

.question_answer_accordion > .answer
{
  display: none;
}

.active > .answer
{
  display: block;
  padding-bottom: 1.3rem;
  color: var(--veryDarkGreyBlue);
  font-size: 15px;
}

.accordion_wrapper
{
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}

.accordion_questions
{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.question_answer_accordion
{
  width: 350px;
  border-bottom: 1px solid #e8e8e8;
}

.title_accordion
{
  font-size: 3rem;
  margin-top: 0px;
}

.question_title
{
  font-size: 1.2rem;
  font-weight: 400px;
  margin: 1.4rem 0rem;
  color:  var(--veryDarkGreyBlue);
}

.question 
{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s;
}

.question i
{
  align-self: center;
}

.image_wrapper
{
  position: relative;
}

.image_wrapper_inner
{
  background: url(../img/ds1.png);
  height: 100%;
  background-repeat: no-repeat;
  background-position: 120% center;
}

.box
{
  position: absolute;
  top: 42%;
  left: -20%;
}

.active i
{
  transform: rotate(180deg);
  transition: all 0.3s ease-in;
}

.active h3
{
  font-weight: 700;
}



/* Fin Main Accordion */

.es p{

    margin-top: 2rem; 
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

/* CRADS  */


.cr{
  margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.contenido{
    color: #333;
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}

.contenido .crd{
    position: relative;
    height: 250px;
    background: #fff;
    display: flex;
    width: 48%;
    margin: 30px 0;
}

.contenido .crd .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.contenido .crd:hover .imgBx{
    width: 150px;
    height: 150px;
    left: -150px;
    top: calc(50% - 75px);
    transition: 0.5s ease-in-out;
    background: #1B2631;
}

.contenido .crd .imgBx:before{
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 3.6rem;
    color: #e8e8e8;
    font-weight: 700;
}

.contenido .crd:hover .imgBx img{
    max-width: 100px;
    transition: 0.5s ease-in-out;
}

.contenido .crd:hover .imgBx img{
    max-width: 75px;
} 

.contenido .crd .content{
    position: absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido .crd .content h3{
    margin-bottom: 5px;
    font-size: 24px;
    color: #333;
}

.contenido .crd .content a{
  display: inline-block;
    border-radius: 30px;
    margin-top: 10px;
    padding: 5px 10px;
    background: #333;
    text-decoration: none;
    color: #fff;
  }


  
/* FOOTER */


  /* Tacticas */

.conten
{
  width: 90%;
  margin: auto;
  overflow: hidden;
  padding: 80px 0;
  max-width: 1200px; 
}

.subtitle
{
  color: #e8e8e8;
  font-size: 2.rem;
  margin-bottom: 35px;
}

.presentacion
{
  padding-top: 0;
  text-align: center;
}

.presentacion_copy
{
  width: 80%;
  margin: 0 auto;
}

.about
{
  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 80px;
  justify-items: center;
  align-items: center;
}

.about_img
{
  text-align: center;
}

.about_img--left
{
  text-align: left;
}

.about_picture
{
  max-width: 80%;
  height: 300px;
}

.about_paragraph
{
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: 300;
}



/* CONTACT */

.form_wrap{
  width: 1050px;
  height: 530px;
  margin: 50px auto;
  display: flex;

  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}
.contact_info::before{
  content: '';
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  background:#383332;
  opacity: 0.9;
}

.contact_info{
  width: 38%;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.info_title,
.info-items{
  position: relative;
  z-index: 2;
  color: #fff;
}

form.form_contact{
  width: 62%;
  padding: 30px 40px;
}

form.form_contact h2{
  font-size: 25px;
  font-weight: 600;
  color: #303030;
  margin-bottom: 30px;
}

form.form_contact .user_info{
  display: flex;
  flex-direction: column;
}

form.form_contact label{
  font-weight: 600;
}

form.form_contact input,
form.form_contact textarea{
  width: 100%;
  padding:  8px 0px 5px;

  border: none;
  border-bottom: 2px solid #D1D1D1;

  font-family: 'Open sans';
  color: #5A5A5A;
  font-size: 14px;
  font-weight: 400;
}

form.form_contact textarea{
  max-width: 100%;
  min-width: 100%;
  max-height: 90px;
}

form.form_contact input[type="submit"]{
  width: 180px;
  background: #383332;
  padding: 10px;
  border: none;
  border-radius: 25px;

  align-self: flex-end;

  color: #fff;
  font-family: 'Open sans';
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

form.form_contact input[type="submit"]:hover{
  background: #3371B6;
}









/* responsive */

@media (max-width: 992px){
    
.contenido{
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.contenido .crd
{
  width: 500px;
}


}


@media (max-width: 768px){
  
  .nav_ul
  {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav_ul.show
  {
    display: flex;
  }

  .hamburger
  {
    display: block;
  }

  .logo
  {
    width: 80px;
  }

  .nav_ul li absolute
  {
    padding: 10px;
  }

  header
  {
    padding-bottom: 0;
  }


  .contenido .crd
  {
    max-width: 300px;
    flex-direction: column;
    height: auto;
  }
  
  .contenido .crd .imgBx
  {
    position: relative;
  }
  
  .contenido .crd .imgBx
  {
    position: relative;
  }
  
  .contenido .crd .imgBx,
  .contenido .crd:hover .imgBx 
  {
    width: 100%;
    height: 200px;
    left: 0;
  }

  .contenido .crd .imgBx img,
  .contenido .crd:hover .imgBx img
  {
    max-width: 100px;
  }

  .contenido .crd .content
  {
    position: relative;
    width: 100%;
  }

  .presentacion_copy
  {
    width: 100%;
  }

  .about
  {
    grid-template-columns: 1fr;
  }

  .about .conten
  {
    padding-top: 30px;
  }

  .about_img--left
  {
    text-align: center;
  }

  .about_text:last-child
  {
    grid-row: 3/4;
  }

  .about_picture
  {
    max-width: 80%;
    height: 150px;
  }

}


@media (max-width: 780px)
{
  .wrapper 
  {
    margin-top: 5rem;
    width: 310px;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    grid-gap: 0.5rem;
    position: relative;
    padding: 1rem;
    height: 640px;
  }

  .image_wrapper
  {
    background: url(../img/ds1.png);
    background-repeat: no-repeat;
    background-position: center 590% ;
  }

  .image_wrapper_inner{
    position: absolute;
    width: 100%;
    height: 200px;
    background-size: 72%;
    background-position: center;
    top: -129%;
  }

  .box
  {
    width: 55px;
    left: 19%;
    top: -30%;
  }

  .accordion_wrapper
  {
    margin-top: 0;
  }

  .question_answer_accordion
  {
    width: 100%;
  }

  .title_accordion
  {
    text-align: center;
  }
}

